<!DOCTYPE html>
<html>
<head>
    <title>Admin Panel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
<div class="admin-container">
    <h2>Данные о студентах, прошедших опрос:</h2>

    <form method="POST">
        <label for="group_name">Выберите группу:</label>
        <select name="group_name" id="group_name">
            <option value="All">Все</option>
            {% for group in group_options %}
                <option value="{{ group }}">{{ group }}</option>
            {% endfor %}
        </select>
        <input class="sort-button" type="submit" value="Сортировать">
    </form>

    <h3>Результаты сортировки:</h3>
    <ul>
        {% for student in sorted_students %}
            <li class="student-line">
                <div class="student-info">
                    <p class="student-heading">ФИО</p>
                    <p>{{ student.fullname }}</p>
                </div>
                <div class="student-info">
                    <p class="student-heading">Группа</p>
                    <p>{{ student.group_name }}</p>
                </div>
                <div class="student-info">
                    <p class="student-heading">Курс</p>
                    <p>{{ student.course }}</p>
                </div>
                <div class="student-info">
                    <p class="student-heading">Достижения:</p>
                    <ul>
                        {% for achievement in student.achievements %}
                            <p>{{ achievement.achievement }}</p>
                            <p>{{ achievement.description }}</p>

                        {% endfor %}
                    </ul>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>
</body>
</html>
