<!DOCTYPE html>
<html>
<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Форма заполнения</title>
    <style>

        .form-container {
            background-color: white;
            padding: 20px;
            border: 1px solid #ccc;
            width: 50%;
            text-align: center;
        }
    </style>
</head>
<body>
<div class="form-container">
    <h2>Форма заполнения информации</h2>
    <form id="submissionForm" method="post" action="{{ url_for('submit_form') }}" enctype="multipart/form-data">
        <label for="fullname">ФИО:</label><br>
        <input type="text" id="fullname" name="fullname"><br><br>
        <label for="group_name">Группа:</label><br>
        <input type="text" id="group_name" name="group_name"><br><br>
        <label for="course">Курс:</label><br>
        <input type="number" id="course" name="course"><br><br>
        <label for="achievement">Достижение:</label><br>
        <input type="text" id="achievement" name="achievement"><br><br>
        <label for="description">Описание достижения:</label><br>
        <textarea id="description" name="description"></textarea><br><br>
        <label for="attachment">Прикрепить файл:</label><br>
        <input type="file" id="attachment" name="attachment"><br><br>
        <input type="submit" value="Отправить">
    </form>
</div>

<script>

    document.getElementById("submissionForm").addEventListener("submit", function (event) {
        event.preventDefault();
        fetch(this.action, {
            method: this.method,
            body: new FormData(this)
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (data) {
                window.location.href = data.redirect;
            })
            .catch(function (error) {
                console.error('Form submission error:', error);
            });
    });


</script>

</body>
</html>
